---
# tasks file for nginx
- name: Add services
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{  }}/{{ item.dest }}"
    mode: '0755'
  loop:
    - { src: 'nginx_app.path.j2', dest: 'nginx_app.path' }
    - { src: 'nginx_conf.path.j2', dest: 'nginx_conf.path' }
    - { src: 'nginx_reload.service.j2', dest: 'nginx_reload.service' }
    - { src: 'nginx_restart.service.j2', dest: 'nginx_restart.service' }
  notify: Enable services

- name: Create nginx dir
  ansible.builtin.file:
    path: "{{ nginx_dir_path }}"
    state: directory

- name: Copy docker-compose file
  ansible.builtin.template:
    src: "docker-compose.yml.j2"
    dest: "{{ nginx_dir_path }}/docker-compose.yml"

- name: Copy configs
  ansiansible.builtin.copy:
    src: "conf"
    dest: "{{ nginx_dir_path }}/conf"

- name: Docker-compose start
  ansible.builtin.command:
    cmd: " docker-compose -f {{ nginx_dir_path }}/docker-compose.yml up -d"

